body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "Roboto",sans-serif;
}

div#one {
	background-color: #f5f5f5;
}

.header {
	background-color: #f5f5f5 !important;
}

.header #logo {
	width: 202px;
	margin: 0 auto;
	text-align: center;
}

#logo img {
	width: 202px;
	height: 46px;
}

#burger {
	margin-top: 8px;
	margin-left: 10px;
	float: left;
}

.ui-btn {
	padding: 2px 2px 0px 2px !important;
}

#cssmenu{
	display: none;
}

.break {
	background-color: #fff;
	padding: 10px;
	box-shadow: 0px 0px 6px #888888;
	margin-bottom: 25px;
}

.feedTitle {
	/*font-weight: bold;*/
	font-family: "Roboto";
	font-weight: lighter;
	font-size: 20px;
	margin-bottom: 10px;
}

.feedTitle a:link, .feedTitle a:visited {
	color: #3ab4a6;
	text-decoration: none;
}

.feedTitle a:hover, .feedTitle a:active {
	color: red;
	text-decoration: underline;
}

.fcontainer ul {
	padding: 0;
	margin-left: 20px;
}

.ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.f-l li {
	padding-bottom: 5px;
}

.fLink:link, .fLink:visited {
	color: #000;
	text-decoration: none;
	font-size: 12px;
}

.fLink:hover, .fLink:active {
	text-decoration: underline;
	font-size: 12px;
}

.fab {
	position: fixed !important;
	right: 0;
	bottom: 0;
	margin-right: 8px;
	margin-bottom: 8px;
	z-index: 9999;
}

#loadingBox {
	position:fixed;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    background:rgba(243,243,243,0.9);
}

#loadingText {
	text-align: center;
	margin-top: 50%;
	font-size: 35px;
	font-weight: bold;
}